/1.triangular element/eigen
/1.triangular element/matplotlib
/1.triangular element/x64
/1.triangular element/triangular element/node.csv
/1.triangular element/triangular element/sgm.csv
/1.triangular element/triangular element/element.csv
/1.triangular element/triangular element/KZ_matrix.csv
/1.triangular element/triangular element/new_node.csv
/1.triangular element/.vs/triangular element/v17/*.db
/1.Triangular element-2D/.vs
/1.Triangular element-2D/eigen
/1.Triangular element-2D/matplotlib
/1.Triangular element-2D/x64
/1.Triangular element-2D/Triangular element-2D/.idea
/1.Triangular element-2D/Triangular element-2D/x64
/2.C3D8/.vs
/2.C3D8/matplotlib
/2.C3D8/eigen
/2.C3D8/x64
/2.C3D8/2.C3D8/x64
/2.C3D8/2.C3D8/.idea
/2.C3D8 - BBAR/matplotlib
/2.C3D8 - BBAR/x64
/2.C3D8 - BBAR/.vs
/2.C3D8 - BBAR/eigen
/2.C3D8 - BBAR/2.C3D8/x64
/2.C3D8 - BBAR/2.C3D8/.idea
/2.C3D8 - 选择减缩积分/.vs
/2.C3D8 - 选择减缩积分/eigen
/2.C3D8 - 选择减缩积分/matplotlib
/2.C3D8 - 选择减缩积分/x64
/2.C3D8 - 选择减缩积分/2.C3D8/.idea
/2.C3D8 - 选择减缩积分/2.C3D8/x64
/1.triangular element/.vs
/1.triangular element/triangular element/x64
/Solve systems of linear equations/Jacobian/.vs
